USE [master]
GO
/****** Object:  Database [DbYTAKutuphane]    Script Date: 2025-02-20 13:39:52 ******/
CREATE DATABASE [DbYTAKutuphane]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbYTAKutuphane', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DbYTAKutuphane.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbYTAKutuphane_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DbYTAKutuphane_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbYTAKutuphane].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbYTAKutuphane]
GO
/****** Object:  User [library]    Script Date: 2025-02-20 13:39:52 ******/
CREATE USER [library] FOR LOGIN [library] WITH DEFAULT_SCHEMA=[library]
GO
/****** Object:  Schema [library]    Script Date: 2025-02-20 13:39:52 ******/
CREATE SCHEMA [library]
GO
/****** Object:  Table [dbo].[TableAdminPasswordCheck]    Script Date: 2025-02-20 13:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableAdminPasswordCheck](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [varchar](max) NULL,
 CONSTRAINT [PK_TableAdminPasswordCheck] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableKitaplar]    Script Date: 2025-02-20 13:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableKitaplar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KitapAdi] [nvarchar](200) NOT NULL,
	[YazarAdi] [varchar](40) NOT NULL,
	[YazarSoyadi] [varchar](40) NULL,
	[ISBN] [varchar](20) NULL,
	[Durum] [bit] NOT NULL,
	[OduncAlan] [varchar](50) NULL,
	[OduncAlmaTarihi] [date] NULL,
	[KitapTurKodu] [int] NOT NULL,
 CONSTRAINT [PK_TableKitaplar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableKitapTurleri]    Script Date: 2025-02-20 13:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableKitapTurleri](
	[KitapTurKodu] [int] IDENTITY(101,1) NOT NULL,
	[Aciklama] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TableKitapTurleri] PRIMARY KEY CLUSTERED 
(
	[KitapTurKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableKutuphaneYoneticileri]    Script Date: 2025-02-20 13:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableKutuphaneYoneticileri](
	[Kullaniciadi] [varchar](20) NOT NULL,
	[Sifre] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TableKitaplar]  WITH CHECK ADD  CONSTRAINT [FK_TableKitaplar_TableKitapTurleri] FOREIGN KEY([KitapTurKodu])
REFERENCES [dbo].[TableKitapTurleri] ([KitapTurKodu])
GO
ALTER TABLE [dbo].[TableKitaplar] CHECK CONSTRAINT [FK_TableKitaplar_TableKitapTurleri]
GO
USE [master]
GO
